table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

tr:hover {
  background-color: #eff4f7 !important;
}

.bi {
  color: #3f51b5 !important;
}
