<div style="min-width: 419px">
  <mat-card style="background-color: #f2f2f2">
    <mat-card-content>
      <div class="d-flex flex-row flex-nowrap justify-content-between mb-4">
        <div class="d-flex flex-column h-100">
          <button
            mat-button
            [matMenuTriggerFor]="responsableMenu"
            style="width: fit-content"
          >
            <div
              *ngIf="!fiche.respControle"
              class="text-muted d-flex mb-2 align-items-center"
            >
              <i
                class="bi bi-person-fill-slash me-2"
                style="font-size: 20px"
              ></i
              ><span>Non assigné</span>
            </div>

            <div
              *ngIf="fiche.respControle"
              class="text-muted d-flex mb-2 align-items-center"
            >
              <i class="bi bi-person-fill me-2" style="font-size: 20px"></i
              ><span> {{ fiche.respControle }} </span>
            </div>
          </button>
          <mat-menu #responsableMenu="matMenu">
            <button
              (click)="selectResponsable(role)"
              mat-menu-item
              *ngFor="let role of roles"
            >
              {{ role }}
            </button>
          </mat-menu>
          <div>
            <h2>
              {{ fiche.name }}
            </h2>
            <p *ngIf="fiche.dateFinalisation">
              Date de finalisation :
              {{ fiche.dateFinalisation | date : "dd/MM/YYYY" }}
            </p>
          </div>
        </div>

        <div class="d-flex flex-column" *ngIf="fiche.respControle">
          <div class="d-flex m-1 flex-row align-items-center">
            <div
              [ngStyle]="{
                'background-color': ficheService.genetateColorByRole(
                  fiche.respControle
                )
              }"
              class="me-2 rounded-circle text-white d-flex align-items-center justify-content-center"
              style="width: 40px; height: 40px; font-size: 15px"
            >
              {{ fiche.respControle | initialName }}
            </div>
            <div>
              <div class="progress" style="width: 200px; height: 15px">
                <div
                  [ngStyle]="{
                    'background-color': ficheService.genetateColorByRole(
                      fiche.respControle
                    )
                  }"
                  class="progress-bar"
                  role="progressbar"
                  style="width: 25%"
                  [attr.aria-valuenow]="fiche.answeredQuestions"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  {{ fiche.answeredQuestions }} %
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-row flex-wrap elem-info">
        <p
          class="me-4 text-muted"
          matTooltip="Date de contrôle"
          *ngIf="fiche.dateControle"
        >
          <i class="bi bi-calendar-check me-1"></i>
          <span class="fw-light">
            {{ fiche.dateControle | date : "dd/MM/YYYY" }}
          </span>
        </p>
        <p
          class="me-4 text-muted"
          matTooltip="Date de diffusion"
          *ngIf="fiche.dateDiffusion"
        >
          <i class="bi bi-calendar me-1"></i>
          <span class="fw-light">
            {{ fiche.dateDiffusion | date : "dd/MM/YYYY" }}
          </span>
        </p>
        <p
          class="me-4 text-muted"
          matTooltip="Date de relecture"
          *ngIf="fiche.dateRelecture"
        >
          <i class="bi bi-calendar2 me-1"></i>
          <span class="fw-light">
            {{ fiche.dateRelecture | date : "dd/MM/YYYY" }}
          </span>
        </p>
        <p
          class="me-4 text-muted"
          matTooltip="Durée de controle"
          *ngIf="fiche.dureeControle"
        >
          <i class="bi bi-clock me-1"></i>
          <span class="fw-light">
            {{ fiche.dureeControle }}
          </span>
        </p>

        <p
          class="me-4 text-muted"
          matTooltip="Résponsable de relecture"
          *ngIf="fiche.respRelecture"
        >
          <i class="bi bi-person me-1"></i>
          <span class="fw-light">
            {{ fiche.respRelecture }}
          </span>
        </p>
        <p
          class="me-4 text-muted"
          matTooltip="Référence recueil de procédures"
          *ngIf="fiche.refRecueilProcedures"
        >
          <i class="bi bi-info-circle me-1"></i>
          <span class="fw-light">
            {{ fiche.refRecueilProcedures }}
          </span>
        </p>
        <p
          class="me-4 text-muted"
          matTooltip="Référence recueil de procédures"
          *ngIf="fiche.refRecueilProcedures"
        >
          <i class="bi bi-info-circle me-1"></i>
          <span class="fw-light">
            {{ fiche.refRecueilProcedures }}
          </span>
        </p>

        <div
          class="me-4 d-flex flex-row flex-wrap"
          *ngIf="fiche.methodControle"
        >
          <span
            matTooltip="Méthodologie de contrôle"
            class="rounded-pill d-flex align-items-center text-white bg-success mb-2 ps-2 pe-2 me-2"
            *ngFor="let m of fiche.methodControle"
            >{{ m }}</span
          >
        </div>

        <p class="me-4 text-muted">
          <i class="bi bi-hourglass-bottom me-1"></i>
          <span class="text-warning fw-bold"
            >{{ fiche.answeredQuestions }}/150 Questions répondues</span
          >
        </p>
      </div>

      <div class="d-flex flex-row align-items-center">
        <i class="bi bi-tags me-4" style="font-size: 20px"></i>
        <mat-chip-listbox class="me-4" aria-label="Dog selection">
          <mat-chip
            matTooltip="Références réglementaires"
            *ngFor="let ref of fiche.refReglementaire"
          >
            {{ ref }}
          </mat-chip>
        </mat-chip-listbox>
        <div
          class="progress"
          *ngIf="fiche.respControle"
          style="width: 350px; height: 30px"
        >
          <div
            class="progress-bar bg-success"
            role="progressbar"
            style="width: 25%"
            [attr.aria-valuenow]="fiche.answeredQuestions"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            {{ fiche.answeredQuestions }}%
          </div>
        </div>
      </div>

      <div class="m-3 ms-0">
        <mat-checkbox color="primary"
          >Afficher uniquement les questions non répondues</mat-checkbox
        >
      </div>

      <div class="d-flex flex-row flex-wrap">
        <button mat-flat-button color="primary" class="m-2">
          <i class="bi bi-save me-2"></i> Enregistrer mes réponses
        </button>
        <button
          (click)="validate()"
          mat-stroked-button
          [disabled]="fiche.status !== 'broadcast'"
          *ngIf="fiche.status !== 'fixed'"
          color="primary"
          class="m-2"
        >
          <i class="bi bi-check-circle me-2"></i> Valider
        </button>
        <button
          mat-stroked-button
          *ngIf="fiche.status === 'fixed'"
          color="primary"
          class="m-2"
        >
          <i class="bi bi-check-circle me-2"></i> Restituer
        </button>
        <button
          (click)="markAsRead()"
          mat-button
          color="primary"
          class="m-2"
          [disabled]="fiche.status !== 'onHold'"
        >
          <i class="bi bi-book me-2"></i> Marquer comme relue
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <div class="m-4 ms-0 me-0">
    <mat-tab-group>
      <mat-tab label="Conclusion / Recommendation">
        <app-question-card
          [fiche]="fiche"
          [respName]="fiche.respControle"
          [questions]="[
            { name: 'Conclusion', field: 'conclusions' },
            { name: 'Constats', field: 'constats' },
            { name: 'Recommandations', field: 'recommandation' }
          ]"
        ></app-question-card>
      </mat-tab>
      <mat-tab label="Tableau de recommandations">
        <div class="d-flex flex-column w-100 h-100 align-items-center">
          <div
            class="d-flex m-4 p-0 shadow-sm flex-column"
            *ngFor="let r of fiche.recommandations; let i = index"
          >
            <div class="mb-3 ps-3 w-100 bg-bleu text-white">
              <h2 class="m-0">Recommendation {{ i + 1 }}</h2>
            </div>
            <div class="d-flex flex-column p-4">
              <div
                class="d-flex flex-row align-items-center justify-content-between"
              >
                <p style="font-size: 15px">Libellé de la recco</p>
                <div>
                  <mat-form-field style="min-width: 350px" class="ms-4">
                    <mat-label>Libellé de la recco</mat-label>
                    <textarea
                      name="libelerecco"
                      [(ngModel)]="r.libelleReco"
                      matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div
                class="d-flex flex-row align-items-center justify-content-between"
              >
                <p style="font-size: 15px">
                  Service en charge de la mise en oeuvre
                </p>
                <div>
                  <mat-form-field style="min-width: 350px" class="ms-4">
                    <mat-label
                      >Service en charge de la mise en oeuvre</mat-label
                    >
                    <textarea
                      name="sercharge"
                      [(ngModel)]="r.serviceMiseEnOeuvre"
                      matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div
                class="d-flex flex-row align-items-center justify-content-between"
              >
                <p style="font-size: 15px">Délai de mise en oeuvre</p>
                <div>
                  <mat-form-field style="min-width: 350px" class="ms-4">
                    <mat-label>Délai de mise en oeuvre</mat-label>
                    <textarea
                      name="delaiMiseEnOeuvre"
                      [(ngModel)]="r.delaiMiseEnOeuvre"
                      matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"
                    ></textarea>
                  </mat-form-field>
                </div>
              </div>
              <p>
                <button
                  mat-button
                  (click)="removeRecommandation(r)"
                  class="mt-2"
                >
                  <i class="bi bi-trash me-2"></i> Supprimer
                </button>
              </p>
            </div>
          </div>
          <button
            (click)="addRecommandation()"
            class="mt-4"
            mat-button
            color="primary"
          >
            <div class="d-flex flex-row flex-nowrap align-items-center">
              <i
                style="font-size: 20px"
                class="bi m-0 bi-plus-circle-fill me-4"
              ></i>
              <p class="m-0">Ajouter une recommandations</p>
            </div>
          </button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
