<h3>Tableau de bord</h3>
<div class="d-flex flex-row flex-wrap">
  <div class="me-4">
    <p>
      <span class="fw-bold">Période : </span>
      <span>01/03/2023 - 30/06/2023</span>
    </p>

    <div class="d-flex flex-row mt-2">
      <mat-form-field appearance="outline" *ngIf="isAdmin" class="me-3">
        <mat-label>Type de roles</mat-label>
        <mat-select [(ngModel)]="role">
          <mat-option *ngFor="let r of roles" [value]="r"> {{ r }}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="mt-1">
        <button mat-raised-button color="primary" class="px-5 py-4">Planifier les fiches du trimestres <span
            *ngIf="isAdmin"> : {{ role }}</span></button>
      </div>
    </div>
  </div>

</div>

<div class="d-flex flex-row flex-wrap justify-content-around mt-3 py-3" >
  <div class="chart py-3 px-5" style="background-color: white;">
    <div class="title">Fiche par thème et risque</div>
    <apx-chart [series]="chartOptionsMultiple.series!" [chart]="chartOptionsMultiple.chart!"
      [xaxis]="chartOptionsMultiple.xaxis!" [stroke]="chartOptionsMultiple.stroke!"
      [dataLabels]="chartOptionsMultiple.dataLabels!" [responsive]="chartOptionsMultiple.responsive!"></apx-chart>
  </div>

  <div style="background-color: white;" class="px-5 py-3">
    <div class="title mb-5">Nombres :</div>
    <div class="row col-12">
      <div class=" col-6 box not-started">
        <span class="box-title">Non démarré</span> <br />
        <h1 class="box-stat">12</h1>
      </div>
      <div class=" col-6 box in-progress">
        <span class="box-title">En cours</span><br />
        <h1 class="box-stat">1</h1>
      </div>
      <div class="col-6 box awaiting">
        <span class="box-title">En attente de relecture</span><br />
        <h1 class="box-stat">3</h1>
      </div>
      <div class="col-6 box diffused">
        <span class="box-title">Diffusé</span><br />
        <h1 class="box-stat">13</h1>
      </div>
      <div class="col-6 box frozen">
        <span class="box-title">Figé</span><br />
        <h1 class="box-stat">2</h1>
      </div>
    </div>
  </div>
</div>

<div class="d-flex flex-row flex-wrap justify-content-around mt-2 py-3" >
  <div class="px-5 py-3" style="background-color: white;">
    <div class="title">Fiche par thème</div>
    <div class="chart" class="col-8">
      <apx-chart [series]="chartOptionsT.series!" [chart]="chartOptionsT.chart!"
        [xaxis]="chartOptionsT.xaxis!"></apx-chart>
    </div>
  </div>
  <div class="px-5 py-3" style="background-color: white;">
    <div class="title">Fiche par risque</div>
    <div class="chart" class="col-8">
      <apx-chart [series]="chartOptionsR.series!" [chart]="chartOptionsR.chart!"
        [xaxis]="chartOptionsR.xaxis!"></apx-chart>
    </div>
  </div>
</div>

<div class="d-flex flex-row flex-wrap  mt-2">

  <div class="mt-4">
    <div class="title">Historique</div>
    <div class="mt-3 mb-2 pb-3 px-5" *ngFor="let h of history | slice: 0:5" style="border-bottom: 1px solid lightgray;">
      <span class="m-2 px-5 fiche-number">{{h.fiche}}</span> {{h.status}} par <span
        class="fw-bold name">{{h.user}}</span> le <span class="fw-bold text-secondary">{{h.date}}</span>
    </div>
  </div>

  <div class="justify-content-start ms-5">
    <div id="chart" *ngIf="isAdmin">
      <div class="title">Fiche par rôle</div>
      <apx-chart [series]="chartOptionPie.seriesP!" [chart]="chartOptionPie.chart!" [labels]="chartOptionPie.labels!"
        [responsive]="chartOptionPie.responsive!"></apx-chart>
    </div>
  </div>


</div>