<h3>Cartographie</h3>

<div class="animate__animated animate__slideInLeft container-fluid">
  <mat-card>
    <mat-card-content>
      <div class="d-flex justify-content-end">
        <div class="me-2">
          <button mat-stroked-button color="primary"><i class="bi bi-upload me-2"></i> Uploader une nouvelle version de
            la cartographie</button>
        </div>
        <div>
          <button mat-stroked-button color="primary"><i class="bi bi-upload me-2"></i> Exporter la cartographie</button>
        </div>

      </div>
    </mat-card-content>
  </mat-card>

      <!-- TABLE -->
      <div class="mat-elevation-z8 mt-5">

        <table class="table table-responsive">
          <tbody>
            <tr class="align-middle">
              <td rowspan="3" style="writing-mode: vertical-rl; transform: rotate(-180deg); width: 50px; border-right: 1px solid lightgray;" class="fs-5 text-primary">Niveau de risque</td>
              <th class="text-secondary">Faible</th>
              <td class="text-center" *ngFor="let f of faible" [ngClass]="(f < 5) ? 'green' : (f > 10) ? 'greenf' : 'greenfm' ">{{f}}</td>
            </tr>
            <tr class="align-middle">
              <th class="text-secondary">Moyen</th>              
              <td class="text-center" *ngFor="let m of moyen" [ngClass]="(m < 5) ? 'bluem' : (m > 10) ? 'blue' : 'bluefm' ">{{m}}</td>
            </tr>
            <tr class="align-middle">
              <th class="text-secondary">Elevé</th>
              <td class="text-center" *ngFor="let e of eleve" [ngClass]="(e < 5) ? 'redfe' : (e > 10) ? 'red' : 'rede' ">{{e}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="text-center">
              <th style="border-bottom: none;"></th>
              <th style="border-bottom: none;"></th>
              <th *ngFor="let t of themes" class="left-border text-secondary">{{t.classe}}</th>
            </tr>
            <tr class="text-center">
              <th></th>
              <th></th>
              <th [attr.colspan]="themes.length" class="left-border text-danger">Thèmes</th>
            </tr>
          </tfoot>
        </table>
      </div>

</div>